* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0D0D0D;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
}

.home__title {
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 20rem;
  text-align: center;
}

.home__text {
  margin-inline: auto;
  padding: 1rem;
  max-width: 61rem;
  /*border: solid 1px blue;*/
}

.home__text--title,
.home__text--subheading {
  text-align: center;
}

.home__text--paragraph {
  text-align: justify;
}

.home__image {
  width: min(90%, 59rem); /* Cover the 90% of the screen, with a max of 59rem */
  aspect-ratio: 16 / 9;
  display: block;
  margin: 0 auto;
}

.home__list {
  max-width: 16rem;
  padding-left: 3rem;
  margin-inline: auto;
  margin-bottom: 2rem;
  text-align: justify;
  color: orange;
}

.home__list a {
  color: red;
}

.home__url {
  /* border: solid 1px black; */
  max-width: fit-content;
  margin-inline: auto;
  margin-top: 1rem;
  list-style-type: none;
  text-align: center;
}
